.text-color-dark {
    color: #2E2E2E;
}

body {
  background-color: rgb(245, 245, 245);
  overflow-y: scroll !important;
}

.zoom-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s, box-shadow 0.1s;
    
  }


  
  .zoom-image:hover {
    transform: scale(1.02); /* Zoom cuando el mouse pasa por encima */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra cuando el mouse pasa por encima */
  }

  .zoom-svg {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s
  }

  .zoom-button {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s
  }
  
  .zoom-svg:hover {
    transform: scale(1.5); /* Zoom cuando el mouse pasa por encima */
  }

  .button-cv {
    background-color: #000000;
    color: white;
  }

  .button-cv:hover {
    background-color: #2E2E2E;
  }

  


  /* Estilo para el scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #5b005b; /* Color del thumb (la parte móvil del scrollbar) */
}

::-webkit-scrollbar-track {
  background-color: #fff; /* Color del track (el fondo del scrollbar) */
}


body {
  padding-right: 0 !important; /* Anula el padding-right agregado */
}

nav {
  padding-right: 0 !important; /* Anula el padding-right agregado */
}
  
  